doctype
html
  head
    title C++ Primes on the Web
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css")
  body
    .container
      h1.h2.mt-3 Examples/Strategies
      ol
        each type in routes
          li
            p
              a(href="/"+type.title)= type.title
              br
              = type.description
