doctype
html(ng-app='primesApp')
  head
    title C++ Primes on the Web
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js")
    script.
      var primesApp = angular.module('primesApp', []);

      primesApp.controller('PrimesController', function ($scope, $http) {
        $scope.results = [];
        $scope.submit = function(target) {
          $http.post('/' + target, {under:$scope.under})
            .then(function(docs)  {
              $scope.results = docs.data.results;
            });
        };
      });

  body(ng-controller="PrimesController")
    .container.mt-3
      h1.h2
        = 'Calculate Prime Number using ' + target + ' technique.'

      form.form-inline(ng-submit="submit('" + target + "')")
        label.mr-3(for="under") All primes under:
        input.form-control.mr-3(ng-model="under")
        button.btn.btn-primary(type="submit") Submit

      ul
        li(ng-repeat="prime in results track by $index") {{prime}}
